appdirs==1.4.4
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
distlib==0.3.1
Django==2.2
django-crispy-forms==1.9.2
django-crontab==0.7.1
django-weekday-field==1.1.0
filelock==3.0.12
Flask==1.1.2
flask-swagger==0.2.14
html5lib==1.1
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==2.0.1
paytmchecksum==1.7.0
Pillow==7.2.0
pybase64==1.0.1
pycryptodome==3.9.8
PyGoogleVoice==0.5.2
pylint==2.6.0
PyPDF2==1.26.0
pytz==2020.1
PyYAML==5.3.1
reportlab==3.5.50
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xhtml2pdf==0.2.4
zipp==3.1.0
djangorestframework==3.12.2
django-mathfilters
django-rest-passwordreset==1.1.0