{% extends 'basetemplate.html' %}
{% block body %}
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="container emp-profile">
                    <div class="container">
                        <div class="row flex-lg-nowrap">
                            <div class="col">
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="e-profile">
                                                    <div class="row">

                                                        <div
                                                            class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{request.user.userAccess.agentId}}</h4>
                                                                <label>{{request.user.email}}</label>
                                                                <div class="text-muted"><small>Last login : {{request.user.last_login}}</small></div>
                                                                
                                                            </div>
                                                            <div class="text-center text-sm-right">
                                                                <span class="badge badge-secondary">Seller Acount</span>
                                                                <div class="text-muted"><small>{{request.user.creationTime}}</small></div>
                                                            </div>
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <input class="btn btn-primary" type='button'
                                                                            name="edit" value='Edit'
                                                                            onclick='myeditFunction()' />
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item"><a href=""
                                                                class="active nav-link">Settings</a></li>
                                                    </ul>
                                                    <div class="tab-content pt-3">
                                                        <div class="tab-pane active">
                                                            <form class="form" novalidate="">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Full Name</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        value="{{request.user.name}}"
                                                                                        name="name" id="fullname"
                                                                                        required disabled />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Gender</label>
                                                                                    <div class="maxl">
                                                                                        <label class="radio inline">
                                                                                            &nbsp;
                                                                                            <input class='ender' id='ma'
                                                                                                type="radio"
                                                                                                name='gender'
                                                                                                value="male" disabled>
                                                                                            <span> Male </span>
                                                                                        </label>
                                                                                        <label class="radio inline">
                                                                                            <input class='ender' id='fe'
                                                                                                type="radio"
                                                                                                name='gender'
                                                                                                value="female" disabled>
                                                                                            <span>Female </span>
                                                                                        </label>
                                                                                        <label class="radio inline">
                                                                                            <input class='ender' id='ot'
                                                                                                type="radio"
                                                                                                name='gender'
                                                                                                value="female" disabled>
                                                                                            <span>Others</span>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select Country</label>
                                                                                    <select
                                                                                        class="form-control countries"
                                                                                        name="country" id='countryId'
                                                                                        type='checkbox' required
                                                                                        disabled='true'>
                                                                                        <option value="{{request.user.country}}">Select Country
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select State</label>
                                                                                    <select class="form-control states"
                                                                                        name="state" id='stateId'
                                                                                        type='checkbox' required
                                                                                        disabled>
                                                                                        <option value="{{request.user.state}}">Select State
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">

                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select City</label>
                                                                                    <select class="form-control cities"
                                                                                        name="city" id='cityId'
                                                                                        type='checkbox' required
                                                                                        disabled>
                                                                                        <option value="{{user.city}}">Select City
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Birthdate</label>
                                                                                    <input type="text"
                                                                                        value="{{request.user.DOB}}"
                                                                                        class="form-control"
                                                                                        onfocus="(this.type='date')"
                                                                                        name="bdate" id='bdate' required
                                                                                        disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Address</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        value="{{request.user.address}}"
                                                                                        name='address' id="address"
                                                                                        required disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Zip</label>
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        value="{{request.user.zipCode}}"
                                                                                        name="zip" id="zip" required
                                                                                        disabled />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Phone</label>
                                                                                    <input type="text" minlength="10"
                                                                                        maxlength="10" name="phone"
                                                                                        class="form-control"
                                                                                        value="{{request.user.phNo}}"
                                                                                        id="phone" value="" required
                                                                                        disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select ID Proof type</label>
                                                                                    <select name="govIdName" 
                                                                                        id='proofType' type='checkbox'
                                                                                        class="form-control" required
                                                                                        disabled>
                                                                                        <option class="hidden"
                                                                                            id='proofType' value="{{request.user.userGov.govIdType}}"
                                                                                            disabled="" selected="">
                                                                                            Select ID Proof type
                                                                                        </option>
                                                                                        <option value="ADHAR">Adhar
                                                                                        </option>
                                                                                        <option value="PAN">PAN</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Enter Your Proof ID</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        value="{{request.user.userGov.govIdNo}}"
                                                                                        name="govIdNo" id="govIdNo"
                                                                                        required disabled />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Upload
                                                                                        ID Proof</label>
                                                                                    <input type="file" name="govIdImage"
                                                                                        id="img" class="form-control"
                                                                                        required disabled />
                                                                                    <label for="img">Click me to update the ID Proof
                                                                                        ID Proof</label>
                                                                                </div>
                                                                            </div>

                                                                        </div>


                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 col-sm-6 mb-3">
                                                                        <div class="mb-2"><b>Change Password</b></div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Current Password</label>
                                                                                    <input class="form-control"
                                                                                        id="current" type="password"
                                                                                        placeholder="••••••" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>New Password</label>
                                                                                    <input class="form-control"
                                                                                        id="pass" type="password"
                                                                                        placeholder="••••••" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Confirm <span
                                                                                            class="d-none d-xl-inline">Password</span></label>
                                                                                    <input class="form-control"
                                                                                        id="confirm" type="password"
                                                                                        placeholder="••••••" disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">

                                                                        <div class="row">
                                                                            <div class="col">

                                                                                <div
                                                                                    class="custom-controls-stacked px-2">
                                                                                    <div class="card-body">
                                                                                        <h6
                                                                                            class="card-title font-weight-bold">
                                                                                            Support</h6>
                                                                                        <p class="card-text">Get fast,
                                                                                            free help from our friendly
                                                                                            assistants.
                                                                                        </p>
                                                                                        <button type="button"
                                                                                            class="btn btn-primary">Contact
                                                                                            Us</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <input class="btn btn-primary" type='submit'
                                                                            value='Save Changes' name='Savechanges'
                                                                            onclick='mySavechangesFunction()' />
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>

                function mySavechangesFunction() {
                    document.getElementById('fullname').disabled = true;
                    document.getElementById('countryId').disabled = true;
                    document.getElementById('ma').disabled = true;
                    document.getElementById('fe').disabled = true;
                    document.getElementById('ot').disabled = true;
                  
                    document.getElementById('stateId').disabled = true;
                    document.getElementById('cityId').disabled = true;
                    document.getElementById('bdate').disabled = true;
                    document.getElementById('mail').disabled = true;
                    document.getElementById('phone').disabled = true;
                    document.getElementById('zip').disabled = true;
                    document.getElementById('address').disabled = true;
                    document.getElementById('proofType').disabled = true;
                    document.getElementById('govIdNo').disabled = true;
                    document.getElementById('img').disabled = true;
                    document.getElementById('current').disabled = true;
                    document.getElementById('pass').disabled = true;
                    document.getElementById('confirm').disabled = true;
                }
                function myeditFunction() {
                    document.getElementById('fullname').disabled = false;
                    document.getElementById('ma').disabled = false;
                    document.getElementById('fe').disabled = false;
                    document.getElementById('ot').disabled = false;
                    document.getElementById('address').disabled = false;
                    document.getElementById('zip').disabled = false;
                    document.getElementById('phone').disabled = false;
                    document.getElementById('proofType').disabled = false;
                    document.getElementById('govIdNo').disabled = false;
                    document.getElementById('img').disabled = false;
                    document.getElementById('current').disabled = false;
                    document.getElementById('pass').disabled = false;
                    document.getElementById('confirm').disabled = false;


                    document.getElementById('countryId').disabled = false;
                    document.getElementById('stateId').disabled = false;
                    document.getElementById('cityId').disabled = false;
                    document.getElementById('bdate').disabled = false;
                    document.getElementById('mail').disabled = false;
                    
                   
                    
                    
                    
                }
            </script>
            <div class="col-md-6 gedf-main">


                <div class="container emp-profile">
                    <div class="container">
                        <div class="row flex-lg-nowrap">


                            <div class="col">
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="e-profile">
                                                    <div class="row">

                                                        <div
                                                            class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{request.user.userAgency.agency_Id}}</h4>
                                                                <p class="mb-0">{{request.user.email}}</p>
                                                                <div class="text-muted"><small>Last login : {{request.user.last_login}}</small></div>

                                                            </div>
                                                            <div class="text-center text-sm-right">
                                                                <span class="badge badge-secondary">Agency
                                                                    account</span>
                                                                <div class="text-muted"><small>{{request.user.creationTime}}</small></div>
                                                            </div>
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <input id='botton' class="btn btn-primary" type='button'
                                                                            value='Edit' onclick='myFunction()' />
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item"><a href=""
                                                                class="active nav-link">Settings</a></li>
                                                    </ul>
                                                    <div class="tab-content pt-3">
                                                        <div class="tab-pane active">
                                                            <form class="form" novalidate="">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Agency Name</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        value="{{request.user.userAgency.agencyName}}"
                                                                                        name="name" id="full" required
                                                                                        disabled />
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Phone</label>
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        minlength="10" maxlength="10"
                                                                                        value="{{request.user.userAgency.agencyPhNo}}"
                                                                                        name="phone" id="phon" required
                                                                                        disabled />
                                                                                </div>
                                                                            </div>

                                                                                                                          

                                                                        </div>
                                                                        <div class="row">

                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select Country</label>
                                                                                    <select name="country"
                                                                                        class="countries form-control"
                                                                                        id="country" required disabled>
                                                                                        <option value="">Select Country
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select State</label>
                                                                                    <select name="state"
                                                                                        class="states form-control"
                                                                                        id="state" required disabled>
                                                                                        <option value="">Select State
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Select city</label>
                                                                                    <select name="city"
                                                                                        class="cities form-control"
                                                                                        id="city" required disabled>
                                                                                        <option value="">Select City
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Zip</label>
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        value="{{request.user.userAgency.agencyZipCode}}"
                                                                                        name="zip1" id="zipc" required
                                                                                        disabled />
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>Government
                                                                                        Approved or Not</label>
                                                                                    <select disabled
                                                                                        class="form-control"
                                                                                        id='govProof' name="govApproved"
                                                                                        onchange='takeProof()' required>
                                                                                        <option class="hidden"
                                                                                            id='govproo' selected=''
                                                                                            value="" disabled=''>
                                                                                            Government
                                                                                            Approved or Not:</option>
                                                                                        <option value=1>Yes</option>
                                                                                        <option value=0>No</option>
                                                                                    </select>
                                                                                </div>

                                                                                <div class="form-group"
                                                                                    style="display: none;"
                                                                                    id='takeValue'>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        value="{{request.user.userAgency.govApprovedId}}"
                                                                                        id="takeValued"
                                                                                        name="govApprovedId" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <script>
                                                                            function takeProof() {
                                                                                var getBox = document.getElementById('govProof');
                                                                                var mvalue = getBox.options[getBox.selectedIndex].value;
                                                                                if (mvalue == 1) {
                                                                                    document.getElementById('takeValue').style.display = "block";
                                                                                    document.getElementById('takeValued').required = true;
                                                                                }
                                                                                else {
                                                                                    document.getElementById('takeValue').style.display = "none";
                                                                                    document.getElementById('takeValued').required = false;
                                                                                }
                                                                            }
                                                                        </script>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group">
                                                                                    <label>AgencyAddress</label>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        value="{{request.user.userAgency.agencyAddress}}"
                                                                                        name='address' id='addres'
                                                                                        required disabled>
                                                                                </div>
                                                                            </div>

                                                                        </div>



                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-end">
                                                                        <input class="btn btn-primary" type='submit'
                                                                            value='Save Changes'
                                                                            onclick='mysaveFunction()' />
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        function mysaveFunction() {
            document.getElementById('full').disabled = true;
            document.getElementById('phon').disabled = true;
            document.getElementById('country').disabled = true;
            document.getElementById('state').disabled = true;
            document.getElementById('city').disabled = true;
            document.getElementById('zipc').disabled = true;
            document.getElementById('govProof').disabled = true;
            document.getElementById('addres').disabled = true;
        }
        function myFunction() {
            document.getElementById('full').disabled = false;
            document.getElementById('phon').disabled = false;
            document.getElementById('country').disabled = false;
            document.getElementById('state').disabled = false;
            document.getElementById('city').disabled = false;
            document.getElementById('zipc').disabled = false;
            document.getElementById('govProof').disabled = false;
            document.getElementById('addres').disabled = false;
        }
    </script>
   {% endblock body %}
