{% extends 'basetemplate.html' %}
{% load static %}
{% block stylesheets %}
<style>
    body {
        padding-top: 30px;
    }
</style>
{% endblock stylesheets %}

{% block body %}
<!--HTML Starts-->
<!-- loader -->
<div id="preload">
    <img id="loading-image" src="{% static 'img/loader1.gif' %}" alt="loader" />
</div>

<script type="text/javascript">
    var loader = document.getElementById('preload');
    function removeLoader() {
      setTimeout(function () {
        loader.style.display = 'none';
      }, 3000);
    }
</script>
<div class="container">
    <h2 style="font-family:'Ubuntu', sans-serif;"><i class="fa fa-plane"></i>&nbsp; Booking History</h2>
    <hr />

    {% if len == 0 %}
    <h3 class="mt-3">Booking History is Empty</h3>
    {% endif %}
    {% for order in Bookings %}

    <div class="container">
<div class="card">
    <div class="card-header text-center">
    <div class="row">
    <div class="col-md-3">
	<ul style="list-style-type:none;">
                            <li style="font-size:13px; margin-left:2px;">Booking Placed on</li>
                            <li style="font-size:13px;">
                                <div class=" text-muted"><i class="fa fa-calendar-o"></i>{{order.creation_date}} 
                                </div>
                   
                    </li>
                    </ul>
	</div>
	
	<div class="col-md-3">
	<ul style="list-style-type:none;">
                            <li style="font-size:13px; margin-left:2px;">Total</li>
                            <li style="font-size:13px;">
                                <div class=" text-muted"><i class="fa fa-inr"></i>₹{{order.paid_by_user}} 
                                </div>
                   
                    </li>
                    </ul>
	</div>
	
	<div class="col-md-3">						
	<a href="#" data-toggle="popover" data-placement="bottom" data-html="true" data-trigger="hover" 
	data-content="<b>Billing Details</b><br>{{order.customer_name}}<br>{{order.customer_email}}<br>{{order.customer_phone}}<br>{{order.customer_address}}<br>"
	
	style="font-size:16px; font-weight:bold; color:blue; :hover{text-decoration:underline;}">
	{{request.user.name}}</a>
	</div>
	
	<div class="col-md-3">
	<a href="#" data-html="true" data-toggle="popover" data-placement="bottom" data-trigger="hover" 
	data-content="Total People : {{order.total_people}}<br>Tour ID : {{order.tour.tourId}}"
                        
	style="font-size:16px; font-weight:bold; color:blue; :hover{text-decoration:underline;}">
	{{order.order_id}}</a>
	</div>
	
	
	</div>
	</div>
            <div class="card-body">
                <div class=" h2 mb-2 ml-2">{{order.tour.tourHeading}}</div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{order.tour.thumbnail.url}}" style="height:200px; width:200px;">
                    </div>

                    <div class="col-md-6" id="rgyt">
                        <ul style="list-style-type:none;">
                            <li><small><b>Agent Id</b>&nbsp;:&nbsp; {{order.agent.userAccess.agentId}}</small></li>
                            <li><small><b>Agency Id</b>&nbsp;:&nbsp; {{order.agency.agency_Id}}</small></li>
                            <li><small><b>Starting Date</b> &nbsp;:&nbsp; {{order.tour.startDate}}</small></li>
                            <li><small><b>Ending Date</b>&nbsp;:&nbsp; {{order.tour.endDate}}</small></li>
                            <li><small><b>Starting Locatin</b>&nbsp;:&nbsp; {{order.tour.startingLocation}}</small></li>
                            <li><small><b>Ending Locatin</b>&nbsp;: &nbsp;{{order.tour.endLocation}}</small></li>
                        </ul>

                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block btn-dark">Write a Review </button><br>
                        <a href="/traveller/generate-invoice/order={{order.order_id}}">
                            <button type="button" class="btn btn-block btn-dark">Invoice</button>
                        </a><br>

                        <a href="/beta">
                            <button type="button" class="btn btn-block btn-dark">Ticket</button>
                        </a>
                    </div>
                </div>
        </div>
    <div class="card-footer text-muted">2 days ago</div>
</div>
</div><br>

<script type="text/javascript">
        $(document).ready(function(){
  $('[data-toggle="popover"]').popover();   
});
    </script>

    {% endfor %}
    <!--Card end-->
</div>

<!-- <script>
    var len="{{len}}";
    console.log(len,typeof(len));
</script> -->

<!--HTML Ends-->

<!--JS Starts-->

<!--JS Ends-->
{% endblock body%}