{% extends 'basetemplate.html' %}
{% block stylesheets %}
<style>
    /* body{
   background: linear-gradient(to right, #000428, #004e92);  
     }*/
     
     th {
     background-color: #4b6cb7;
     color: white;
   }
   
   tr:hover {
       background-color: #4d4dff;
       color:#fff;
   }
   .invoice {
       position: relative;
       background: #fff;
       border: 1px solid #f4f4f4;
       padding: 20px;
       margin: 10px 25px;
   }
   .page-header {
       margin: 10px 0 20px 0;
       font-size: 22px;
   }
   
   .btn-cool-blues {
     background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    color: #fff;
    border: 3px solid #eee;
}
.btn-rounded {
    border-radius: 35px;
}

     </style>
{% endblock stylesheets %}

{% block body %}

   
           
           <section class="content content_content" style="width: 90%; margin: auto;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                       <section class="invoice">
                           <!-- title row -->
                           <div class="row">
                               <div class="col-xs-12">
                                   
                                      <h4 class="text-center ml-2"> <i class="fa fa-building"></i> TRAVMAKS Co.</h3>
                                       
                                   
                               </div><!-- /.col -->
                               <div class="col-md-6 text-right ml-auto">
                               <p class="font-weight-bold mb-1">Your Booking History</p>
                               <p class="text-muted">Date: 4 Dec, 2019</p>
                               <button class="btn btn-cool-blues btn-rounded"><i class="fa fa-tachometer"></i>&nbsp;Analytical Dashboard</button>   
                           </div>
                           </div>
                           <!-- info row -->
                           <div class="row invoice-info">
                               
                           </div><!-- /.row -->
   
                           <!-- Table row -->
                           <div class="row">
                               <div class="col-xs-12 table-responsive">
                                   <table class="table">
                                       <thead>
                                           <tr>
                                               <th>Tour Id</th>
                                               <th>Tour Name</th>
                                               <th>Starting Location</th>
                                               <th>Ending Location</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                               <th>Total Members</th>
                                               <th>Profit On Tour</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           
                                           
                                           <tr>
                                               <td>2</td>
                                               <td>18</td>
                                               <td>12500</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                           </tr>
                                           
                                           <tr>
                                               <td>2</td>
                                               <td>18</td>
                                               <td>12500</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                           </tr>
                                           
                                           <tr>
                                               <td>2</td>
                                               <td>18</td>
                                               <td>12500</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                               <td>25000</td>
                                           </tr>
                                           
                                                                               </tbody>
                                   </table>
                                       
                               </div>
                               <div class="col-md-12 text-white text-center" style="background-color: #4b6cb7;">
                                   <h5 style="font-size:25px; ">Profit</h5>
                                   <b style="font-size:20px;">₹2000</b>
                               </div>
                           </div>
                           
                           
                           </div>
                       </section>
                   </section>
{% endblock body %}