{% extends 'travelagency/travelagency_basetemplate.html' %}
{% load static %}

{% block travelagency_stylesheets %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
    
    th {
    background-color: #4b6cb7;
    color: white;
  }
  
  tr:hover {
      background-color: #4d4dff;
      color:#fff;
  }
  .fa-plane{
      color:#4B79A1;
  }
  .invoice {
      position: relative;
      background: #fff;
      border: 1px solid #f4f4f4;
      padding: 20px;
      margin: 10px 25px;
  }
  .page-header {
      margin: 10px 0 20px 0;
      font-size: 22px;
  }
  .tble{
transform: translate(0px,-485px);
margin-left:100px;
}
@media screen and (max-width: 768px) {
.tble{
transform: translate(0px,96px);
margin:auto;
}
}
div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}
  </style>
{% endblock travelagency_stylesheets %}

{% block travelagency_body %}
<div class='container mr-5'>
<section class="tble" style="width: 90%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                   <h3 style="font-family:'Ubuntu', sans-serif;"> <i class="fa fa-plane"></i> Incoming Order Stack</h3>
                    </div>
                
            </div>
            </div>
        
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tour Id</th>
                            <th>Tour Name</th>
                            <th>Starting Location</th>
                            <th>Ending Location</th>
                             <th>Start Date</th>
                             <th>End Date</th>
                             <th>Seat Left After Booking Confirmation</th>
                             <th>No of people going on the tour</th>
                             <th>Earning</th>
                             <th>Status</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                        <tr>
                            <td>2</td>
                            <td>18</td>
                            <td>12500</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td> 
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000 </td>
                            </tr>
                        
                        
                        </tbody>
                </table>
				<br>
				<br>
				<div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">Accept</a>
                            <a href="#" class="Cbtn Cbtn-danger">Decline</a>
                        </div>
            </div>
        </div>
        </div>
    </section>
</section>
{% endblock travelagency_body %}