{% extends 'basetemplate.html' %}
{% load static %}

{% block stylesheets %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

  footer{
      margin-top: 0;
  }
    th,td{
        vertical-align: middle!important;
        text-align: center!important;
  }
  .fa-plane{
      color:#4B79A1;
  }
    .table thead tr {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    tbody{
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .table tbody tr:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 4px;
    }
    .table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 4px;
    }
    .table thead tr th:first-child {
        border-top-left-radius: 4px;
    }
    .table thead tr th:last-child {
        border-top-right-radius: 4px;
    }
    .table thead{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .table {
        border-radius: 4px;
        border-collapse: separate !important;
        border-spacing: 0px!important;
    }
  .invoice {
      position: relative;
      background: #f7fafd;
      border: 1px solid #f4f4f4;
      padding: 20px;
      margin: 10px 25px;
  }
  .page-header {
      margin: 10px 0 20px 0;
      font-size: 22px;
  }
    .tble:nth-child(1){
        margin-top: 30px;
    }
    .table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 850px) {
.tble{
/* transform: translate(0px,96px); */
overflow-x: scroll;
margin:auto;
}
}
  </style>
{% endblock stylesheets %}

{% block body %}
<section class="tble" style="width: 100%;">
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                   <h3 style="font-family:'Ubuntu', sans-serif;"> <i class="fa fa-plane"></i> Ongoing Tour</h3>
                    </div>
                
            </div>
        </div>
        
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Date</th>
                            <th>Tour Name</th>
                            <th>Booking Status</th>
                            <th>Agent approve</th>
                            <th>Booked By</th>
                            <th>Total Members</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Total Paid</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for tour in Tours %}
                        <tr>
                            <td>{{tour.order_id}}</td>
                            <td>{{tour.creation_date}}</td>
                            <td>{{tour.tour.tourHeading }}</td>
                            <td>{{tour.status }}</td>
                            <td>{{tour.agent_approval}}</td>
                            <td>{{tour.customer_name}}</td>
                            <td>{{tour.total_people}}</td>
                            <td>{{tour.customer_email}}</td>
                            <td>{{tour.customer_phone}}</td>
                            <td>{{tour.paid_by_user}}</td>
                        </tr>

                        {% endfor %}
                        


                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
{% endblock body %}