{% extends 'travelagency/travelagency_basetemplate.html' %}
{% load static %}

{% block travelagency_stylesheets %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
    
    th {
    background-color: #4b6cb7;
    color: white;
  }
  
  tr:hover {
      background-color: #4d4dff;
      color:#fff;
  }
  .fa-plane{
      color:#4B79A1;
  }
  .invoice {
      position: relative;
      background: #fff;
      border: 1px solid #f4f4f4;
      padding: 20px;
      margin: 10px 25px;
  }
  .page-header {
      margin: 10px 0 20px 0;
      font-size: 22px;
  }
  </style>
{% endblock travelagency_stylesheets %}

{% block travelagency_body %}
<div class='container mr-5'>
<section class="content content_content mt-5" style="width: 90%; margin: auto;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                   <h3 style="font-family:'Ubuntu', sans-serif;"> <i class="fa fa-plane"></i> Ongoing Tour</h3>
                    </div>
                
            </div>
            </div>
        
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tour Id</th>
                            <th>Tour Name</th>
                            <th>Starting Location</th>
                            <th>Ending Location</th>
                             <th>Start Date</th>
                             <th>End Date</th>
                             <th>Total Members</th>
                             <th>Booked By</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                        <tr>
                            <td>2</td>
                            <td>18</td>
                            <td>12500</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            </tr>
                        
                        <tr>
                            <td>2</td>
                            <td>18</td>
                            <td>12500</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            </tr>
                        
                        <tr>
                            <td>2</td>
                            <td>18</td>
                            <td>12500</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            <td>25000</td>
                            </tr>
                        
                        </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
</section>
</div>
{% endblock travelagency_body %}