{% extends 'basetemplate.html' %}
{% load static %}
{% block stylesheets %}
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<style>
    /* Tabs*/
    #tabs {
        background: none;
    }

    #nav-tab {
    background: #0f1012;
    padding: 10px 0;
  }

    #tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: transparent;
    font-weight: bold;
    background: #fa0505;

  }

    #tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    
  }

    .btn-prime {
        color: #ffffff !important;
        background-color: #0ec7de !important;
        border-color: #0ec7de !important;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .bl {
        color: #009dd7 !important;
        font-weight: bold !important;
    }

    .mainh {
        font-weight: bold !important;
        margin-bottom: 20px;
    }

    .popup-btn a {
        top: 200px;
        position: fixed;
        right: -85px;
        z-index: 1000;
        transform: rotate(-90deg);
        background-color: red;
        padding: 10px 20px 130px;
        height: 0px;
        background-color: #000;
        color: #fff;
    }

    .popup-btn a:hover {
        text-decoration: none;
        color: #fff;
    }

	@media screen and (max-width: 400px) {
  .popup-btn{
    display:none !important;
  }
  .btn-prime{
  position:fixed !important;
   
   bottom: 0;
    right:80px;
    margin: 0 0 0 -20%;
	transform:translateX(80px);
  }
}

@media screen and (max-width: 600px)  {
  .popup-btn{
    display:none !important;
  }
  .btn-prime{
  position:fixed!important;
    z-index:1;
   bottom: 0;
  right:80px;
    margin: 0 0 0 -20%;
	transform:translateX(80px);
  }
}

@media screen and (max-width: 900px)  {
  .popup-btn{
    display:none !important;
  }
  .btn-prime{
  position:fixed !important;
   z-index:1;
   bottom: 0;
    right:80px;
    margin: 0 0 0 -20%;
	transform:translateX(80px);
  }
}
    .fa-globe {
        color: #00bcd4;
    }
	fa-star{
	display:inline-block;
	}

    .btn-orange-styl {
        background: #fc4a1a;
        background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
        background: linear-gradient(to right, #f7b733, #fc4a1a);
        color: #fff;
        border: 3px solid #eee;
        border-radius: 35px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
	a:hover {
  text-decoration: none;
}
@media screen and (max-width: 400px) {
	
	.nav-tabs > li {
        width:23.5%;
	   }
	   .hide{
	   display:none;
	   }
}

@media screen and (max-width: 600px) {
	.nav-tabs > li {
        width:23.5%; 
    }
	.hide{
	   display:none;
	   }
	
}
@media screen and (max-width: 900px) {
	.nav-tabs > li {
        width:23.5%;
    }
	.hide{
	   display:none;
	   }

}
#myBtn{
display:none;
}
</style>
{% endblock stylesheets %}

{% block body %}
<div class="breadcrumb">
    <div class="owl-carousel owl-theme">
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card flt">
            <div class="card-img-block">
                <img class="card-img-top" src="{% static 'img/c1.jpg' %}" alt="">
            </div>
            <div class="card-body pt-0">
                <h5 class="card-title">Heading</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Tabs -->
        <div class="col-md-9 gedf-main">
            <div class="container">
                <div class="row">
                    <h2 class="mainh">Heading</h2>
                    <button class=" btn btn-orange-styl" data-toggle="modal" data-target="#exampleModalCenter">
                        Special Offer <i class="fa fa-tags"></i></button>

                    <!-- Button trigger modal -->


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLongTitle"><img
                                            src="{% static 'img/offer.png' %}" style="height:60px; width:auto;"> Special
                                        Offer</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud\
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim
                                    id est laborum.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="tabs">
					<div class="container">
                    <nav>
                        <ul class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<li><a class="nav-item nav-link active" id="nav-overall-tab" data-toggle="tab" href="#nav-overall" role="tab" aria-controls="nav-overall" aria-selected="true">
						<i class="fa fa-envelope-o"></i><br><span class="hide">Overall Description</span></a></li>
						<li><a class="nav-item nav-link" id="nav-inclusive-tab" data-toggle="tab" href="#nav-inclusive" role="tab" aria-controls="nav-inclusive" aria-selected="false">
						<i class="fa fa-bandcamp"></i><br><span class="hide">Inclusive and Exclusive</span></a></li>
						<li><a class="nav-item nav-link" id="nav-near-tab" data-toggle="tab" href="#nav-near" role="tab" aria-controls="nav-near" aria-selected="false">
						<i class="fa fa-map"></i><br><span class="hide">Nearest Location to Visit</span></a></li>
						<li><a class="nav-item nav-link" id="nav-highlight-tab" data-toggle="tab" href="#nav-highlight" role="tab" aria-controls="nav-highlight" aria-selected="false">
						<i class="fa fa-star"></i><br><span class="hide">Tour Highlights</span></a></li>
					</ul>
						</div>
            </div>
            </nav>
            <div class="container">
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-overall" role="tabpanel"
                        aria-labelledby="nav-overall-tab">
                        <div class="tourdesc">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-inclusive" role="tabpanel" aria-labelledby="nav-inclusive-tab">
                        <h5>
                            <span class="bl">Tour Inclusive</span>
                        </h5>
                        <p>
                            {{Tour.inclusive | linebreaksbr}}
                        </p>
                        <h5>
                            <span class="bl">Tour Exclusive</span>
                        </h5>
                        <p>
                            {{Tour.exclusive | linebreaksbr}}
                        </p>
                    </div>
                    <div class="tab-pane fade" id="nav-near" role="tabpanel" aria-labelledby="nav-near-tab">
                        <h5>
                            <span class="bl">{{Tour.nearestLocation1}}</span>
                        </h5>
                        <p>
                        <h3>Distance : {{Tour.nearestLocation1_distance}}</h3>
                        {{Tour.nlocationconnected1}}
                        </p>
                        <h5>
                            <span class="bl">{{Tour.nearestLocation2}}</span>
                        </h5>
                        <p>
                        <h3>Distance : {{Tour.nearestLocation2_distance}}</h3>
                        {{Tour.nlocationconnected2}}
                        </p>
                        <h5>
                            <span class="bl">{{Tour.nearestLocation3}}</span>
                        </h5>
                        <p>
                        <h3>Distance : {{Tour.nearestLocation3_distance}}</h3>
                        {{Tour.nlocationconnected3}}
                        </p>
                        <h5>
                            <span class="bl">{{Tour.nearestLocation4}}</span>
                        </h5>
                        <p>
                        <h3>Distance : {{Tour.nearestLocation4_distance}}</h3>
                        {{Tour.nlocationconnected4}}
                        </p>

                    </div>
                    <div class="tab-pane fade" id="nav-highlight" role="tabpanel" aria-labelledby="nav-highlight-tab">
                        <p>
                            {{Tour.highlight | linebreaksbr}}
                        </p>
                    </div>
                </div>

            </div>
        </div>

        </section>
        <!-- ./Tabs -->
        <!--- \\\\\\\Post-->


        <div class="col-md-3">
            
                <a href="/tour/booktour/{{Tour.tourId}}/{{Tour.seller.userAccess.agentId}}">
                    <button type="button" class="btn btn-prime btn-block"><i class="fa fa-plane fa-lg"></i>&nbsp;BOOK
                        NOW</button>
                </a>
                <div class="popup-btn" style="display:block">
                    <a href="/tour/booktour/{{Tour.tourId}}/{{Tour.seller.userAccess.agentId}}">Book Now &nbsp;<i
                            class="fa fa-globe"></i></a>
                </div>
				<div class="container">
                    {% for i in images %}
                <div class="col-md-4">
                    <a href="#">
                        <img src="{{i}}" alt=""
                            style="height: 200px;width: 250px;">
                    </a>
                </div>
                <br>
               {% endfor %}

            </div>
        </div>
    </div>
</div>

<h2 class="mainh ml-3">Contact Us</h2>
<div class="container-fluid" style="background: #eaf7fd; padding-top:20px;">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email *" value="" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message *"
                        rows="3"></textarea>
                </div>

            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Last Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control"
                        placeholder="Your Phone *" value="" />
                </div>

                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Travel Date *" value="" />
                </div>
                <button type="button" class="btn btn-success">Button</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var sd="{{Tour.startDate|date:'c'}}";
        console.log(sd)
        var d1=sd.substr(0,4);
				var d2=sd.substr(5,2);
				var d3=sd.substr(8,2);
				sd=d1+'/'+d2+'/'+d3;
		sd = new Date(sd);
        console.log(d1,d2,d3,sd)
		var ed="{{Tour.endDate|date:'c'}}";
        console.log(ed)
        var d11=ed.substr(0,4);
				var d12=ed.substr(5,2);
				var d13=ed.substr(8,2);
				ed=d11+'/'+d12+'/'+d13;
		ed = new Date(ed);
        console.log(ed)
		var d = ed.getTime() - sd.getTime();
        var x = d / (1000 * 3600 * 24) + 1;
        var ggg=x;
        
        var temp = "{{description | linebreaksbr}}";
    	console.log(temp)
        var tem=temp.replace(/<br\s*\/?>/gi,'')
        var tem=temp.replace('<br>','');
		var d2 = temp.split('@@@@')
		var ui=[]
        for(let j=0;j<ggg;j++){
			x= d2[j].split('$$$$');
			ui.push(x[0]);
			ui.push(x[1]);
		}
		temp=temp.split(', ');
        var tourdesc=document.querySelector('.tourdesc');
        let ii=0;
        for(let i=0;i<ggg*2;i+=2,ii+=1){
            var h6=document.createElement('h5');
            var h5=document.createElement('h5');
            var span=document.createElement('span');
            h6.classList.add('bl');
            var days='Day '+(ii+1)+' : '+ui[i];
            var node3=document.createTextNode(days);
            h6.appendChild(node3);
            span.appendChild(h5);
            h6.appendChild(node3);
            var br=document.createElement('br');
            h6.appendChild(br);
            h6.appendChild(span);

            var p=document.createElement('p');
            var node2=document.createTextNode(ui[i+1]);
            p.appendChild(node2);

            tourdesc.appendChild(h6);
            tourdesc.appendChild(p);
        }
    })
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoplay: true,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 4
            },
            1000: {
                items: 6
            }
        }
    })
</script>
{% endblock body %}