#heading{
    background: url("tour-bg.jpg");
    height: 97vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
.online{
    transform: translateY(111px);
}
#stats, #testimonials, .testihead{
    transform: translateY(70px);
}
#testihead{
    
    width: 100%;
    text-align: center;
}
.fc{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.txtar{
    height: 57%;
}
form{
    /* border: 2px blue solid; */
    width: 600px;
    border-radius: 5px;
    transform: translateY(70px);
}
.form-group{
    width: 48%;
}
.bd{
    width: 100%;
}
#heading span{
    width: 48%;
}
textarea{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px blue solid;
    text-align: left;
    resize: none;
}
#heading span .form-group{
    width: 100%;
}
.form-control{
    background: none;
    border: none;
    border-bottom: 2px blue solid;
    border-radius: 0;
    /* margin: 0 15px; */
}
.form-control:focus, textarea:focus{
    background: none;
    border: none;
}
.btns{
    display: flex;
    justify-content: space-around;
}
.signup, .whyus{
    border-radius: 5px;
    /* border: 1px black solid; */
    border: none;
    text-decoration: none;
    color: black;
    width: 40%;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whyus:hover{
    text-decoration: none!important;
    color: black!important;
}
#testimonials {
    background: #C7EBEE;
    overflow: visible;
}

#testimonials .vertical-heading {
    padding: 80px 0;
    margin-bottom: 50px;
}


.testimonial .row {
    margin-bottom: 25px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: #fff;
}

.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonial .stars {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.fa-star{
    color: gold;
    font-size: 26px;
}
.swiper-slide {
    height: 250px;
    background-color: #4C959A;
    padding: 30px;
    border-radius: 6px;
}
.review{
    transform: translateY(-50px);
}
.review span{
    position: absolute;
    top: 42px;
    right: 35px;
}
.arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    z-index: 200;
}
.ab, .pb{
    font-size: 35px;
}
#stats {
    background: url("./stats-bg.jpg") no-repeat fixed center;
    background-size: cover;
}

#stats .content-box-md {
    background: rgba(0, 0, 0, 0.8);
}

#stats .vertical-heading {
    margin-bottom: 50px;
}

#stats .vertical-heading h2 {
    color: #fff;
}

.stats-item {
    background: rgba(61, 68, 68, 0.6);
    border-radius: 4px;
    min-height: 170px;
    padding: 25px 50px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.stats-item i {
    font-size: 42px;
    color:#82abed;
    margin: 0 0 6px 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
.stats-item span{
    display: flex;
    justify-content: center;
}
.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;
}

.stats-item p {
    color: #fff;
    margin: 0;
}

.stats-item:hover {
    background:#34363e;
}
.stats-item h5{
    font-weight: bold;
    color: wheat;
}
.stats-item:hover i {
    color: #212226;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.online .container{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.online .container .row{
    width: 100%;
    margin: 0;
}
.onlinel{
    background-color: #34363e;
    color: white;
    padding: 15px;
    border-radius: 5px 0 0 0;
    height: 200px;
}
.online .col-md-10{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.onliner{
    height: 200px;
    border-radius: 0 5px 0 0;
    background-color: #159eee;
    color: black;
    padding: 15px;
}
.online p{
    font-size: 19px;
}
main{
    transform: translateY(-10px);
}
.online i{
    transform: translateY(15px) translateX(15px);
    font-size: 38px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    margin-top: 30px;
  }
  
.overlay .closebtn {
    transform: translateY(-35px);
    position: absolute;
    right: 45px;
    font-size: 60px;
}
  .tac{
      background: transparent;
      border: none;
  }
  .tac:hover{
      color: brown;
      text-decoration: none;
  }
  .main1{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      flex-flow: column;
  }
  .left{
      border-radius: 5px;
      height: 83vh;
      overflow: hidden;
      background-color: #C6CFD7;
      /* background-color: #ccc; */
      position: all;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .left ul{
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
  }
  .left ul li{
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      color: black;
  }
  .left ul li:hover{
      background-color: teal;
      border-radius: 5px;
      color: white;
  }
  /* .left ul li:clicked{
      
      background-color: teal;
      border-radius: 5px;
      color: white;
  } */
  .moo{
      background-color: teal;
      color: white!important;
      border-radius: 6px;
  }
  .left ul a:hover{
      text-decoration: none;
  }
  strong{
      margin: 0;
  }
  .right{
      height: 83vh;
      display: flex;
      flex-flow: column;
      padding: 0;
  }
  .right .head{
      overflow-y: scroll;
      padding: 15px;
      height: 100%;
  }
  .right .foot{
      height: 10%;
      display: flex;
      justify-content: space-between;
      padding: 15px;
  }
  .foot button{
      width: 110px;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color:sandybrown;
  }
  .foot button:focus{
      border: none;
  }
  .heading{
      background-color: #0A2E4E;
      /* background-color: #464D55; */
      padding: 15px;
      text-align: center;
      margin: 0 0 15px 0;
      border-radius: 5px;
      color: white;
      display: flex;
      justify-content: center;
  }
  .heading h1{
      margin: 0 30px 0 30px;
  }
  @media screen and (max-width: 800px) {
      .main1{
          height: auto;
      }
      .heading img{
          height: 70%;
      }
      .left{
          height: auto;
          padding: 5px;
      }
      .right{
          height: 60vh;
      }
      .left ul{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
      .left ul a{
          max-width: 120px;
      }
      .left ul a li{
          word-break: break-word;
          padding: 5px;
      }
      .heading h1{
          font-size: 20px;
      }
  }
  .head div{
      padding-top: 55px;
  }
@media screen and (max-width:1000px){
    #stats .container{
        max-width: 100%;
    }
    #stats .col-md-3{
        max-width: 300px;
    }
    #pricing .row{
        flex-flow: column;
    }
    
    #pricing .row .col-md-4{
        max-width: 500px;
        margin-bottom: 15px;
    }
    .price .row{
        flex-flow: row!important;
    }
    .swiper-slide h1{
        font-size: 20px;
        margin: 0;
    }
    .swiper-slide{
        height: 270px;
    }
    /* .swiper-slide .row, .swiper-slide i{
        transform: translateY(-10px);
    } */
}

.online .col-md-10{
    transform: translateY(20px);
}
@media screen and (max-width:400px){
    .swiper-slide{
        height: 300px;
    }
    .onlinel, .onliner{
        height: 300px;
    }
    .review span{
        top: 60px;
    }
    #heading{
        height: auto;
    }
    .form-group, #heading span{
        width: 100%;
    }
    form{
        width: auto;
        transform: translateY(0);
    }
    .fc{
        flex-flow: column;
    }
}

body{
    padding-right: 0!important;
}