{% extends 'basetemplate.html' %}

{% block body %}
<!--Continous advertisement starts here-->

<!--Continious Advertisements sections ends -->
<style>
    /*search tab*/
    .card {

        margin-bottom: 30px;
        margin-top: -80px;
        border-radius: 6px;
        color: rgba(0, 0, 0, .87);
        background: #fff;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    .card .card-header {
        border-radius: 3px;
        padding: 1rem 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border: 0;

    }

    .card .card-body {
        padding: 15px 30px;
    }

    .card .card-header-primary {
        /*background-image: linear-gradient(to bottom,#02aab0 ,#00cdac);*/
        background-color: #0d141c;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(156, 39, 176, .6);
    }

    .card-nav-tabs .card-header {
        margin-top: -30px !important;
    }

    .card .card-header .nav-tabs {
        padding: 0;
    }

    .nav-tabs {
        border: 0;
        border-radius: 3px;
        padding: 0 15px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .nav-tabs .nav-item {
        margin-bottom: -1px;
    }

    .nav-tabs .nav-item .nav-link.active {
        background-color: hsla(0, 0%, 100%, .2);
        transition: background-color .3s .2s;
    }

    .nav-tabs .nav-item .nav-link {
        border: 0 !important;
        color: #fff !important;
        font-weight: 500;
        font-size: 20px;
    }

    .nav-tabs .nav-item .nav-link {
        color: #fff;
        border: 0;
        margin: 0;
        border-radius: 3px;
        line-height: 24px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 15px;
        background-color: transparent;
        transition: background-color .3s 0s;
    }

    .nav-link {
        display: block;
    }

    .nav-tabs .nav-item .material-icons {
        margin: -1px 5px 0 0;
        vertical-align: middle;
    }

    .nav .nav-item {
        position: relative;
    }

    /*Floating Card */
    .flt {
        margin-top: 20px;
    }

    .flt .btn {
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 7px 20px;
    }

    .flt .card-img-block {
        width: 91%;
        margin: 0 auto;
        position: relative;
        top: -20px;

    }

    .flt .card-img-block img {
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
    }

    .flt h5 {
        color: #4E5E30;
        font-weight: 600;
    }

    .flt p {
        font-size: 14px;
        font-weight: 300;
    }

    .flt .btn-primary {
        background-color: #4E5E30;
        border-color: #4E5E30;
    }
</style>
<!--Slider strats here-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../static/img/s3.jpg')">
            <div class="carousel-caption ">
                <h3 class="animated bounceInRight" style="animation-delay: 1s">Caption</h3>
                <p class="animated bounceInLeft" style="animation-delay: 2s">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit et dolore magna aliqua.</p>
                <p class="animated bounceInRight" style="animation-delay: 1s"><a href="#">More info</a></p>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../static/img/c2.jpg')">
            <div class="carousel-caption  ">
                <h3 class="animated slideInDown" style="animation-delay: 1s">Caption</h3>
                <p class="animated fadeInUp" style="animation-delay: 2s">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit et dolore magna aliqua.</p>
                <p class="animated zoomIn" style="animation-delay: 3s"><a href="#">More info</a></p>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../static/img/c3.jpg')">
            <div class="carousel-caption">
                <h3 class="animated zoomIn" style="animation-delay: 1s">Caption</h3>
                <p class="animated fadeInLeft" style="animation-delay: 2s">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit et dolore magna aliqua.</p>
                <p class="animated zoomIn" style="animation-delay: 3s"><a href="#">More info</a></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--Slider ends here-->
<!--FRom-->
<div class="popup-btn2">
    <a href="#">24x7 Support &nbsp;<i class="fa fa-life-ring"></i></a>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Tabs with icons on Card -->
            <div class="card card-nav-tabs" id="crd">
                <div class="card-header card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tour" data-toggle="tab">
                                        <i class="fa fa-car"></i>
                                        Tour
                                    </a>
                                </li>
                                <li class="nav-item justify-content-center">
                                    <a class="nav-link" href="#guide" data-toggle="tab">
                                        <i class="fa fa-id-badge"></i>
                                        Guide
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="tour">
                            <form class="form-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Starting Location *"
                                                name="sLocation" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Ending Location *"
                                                name="eLocation" required/>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="date" class="form-control" placeholder="Starting Date *"
                                                name="sDate" required />
                                        </div>
                                    </div>

                                    <div class="col-md-10">

                                        <button type="button" class="btn btn-dark">Find Tours</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="guide">
                            <div class="form-content">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="date" class="form-control" placeholder="Starting Date *"
                                                value="" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="date" class="form-control" placeholder="Ending Date *"
                                                value="" required/>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="date" class="form-control" placeholder="Starting Location *"
                                                value="" required/>
                                        </div>

                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <select name="tour" id="tourtype" class="form-control" required>
                                                <option class="hidden" id="tourtype" value="" disabled="" selected="">
                                                    Guest</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4+">4+</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-10">

                                        <button type="button" class="btn btn-dark">button</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- End Tabs with icons on Card -->

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4">
            <div class="card flt">
                <div class="card-img-block">
                    <img class="card-img-top" src="../static/img/solo.jpg" alt="Card image cap">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Solo Tours</h5>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="card flt">
                <div class="card-img-block">
                    <img class="card-img-top" src="../static/img/friends.jpg" alt="">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Friends - Group Tours</h5>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="card flt">
                <div class="card-img-block">
                    <img class="card-img-top" src="../static/img/couple.jpg" alt="">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Couple Tours</h5>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="card flt">
                <div class="card-img-block">
                    <img class="card-img-top" src="../static/img/family.jpg" alt="">
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title">Family Tours</h5>
                    <a href="#" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Random design-->
<br><br><br><br>
<div class="travel_variation_area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="../static/img/1.svg" alt="">
                    </div>
                    <h3>Comfortable Journey</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="../static/img/2.svg" alt="">
                    </div>
                    <h3>Luxuries Hotel</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="../static/img/3.svg" alt="">
                    </div>
                    <h3>Travel Guide</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End from-->
<!--Latest added destination-->
<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h2>Latest Added Tours</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for tour in Tour %}
            <div class="col-lg-3 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="{{tour.thumbnail.url}}" alt="">
                        <div class="content">
                            <p class="d-flex align-items-center"><a href="#">Special offer</a> </p>

                        </div>
                    </div>

                </div>
                <div class="place_info">
                    <a href="/tour/tourdetails/{{tour.tourId}}/{{tour.tourSlug}}">
                        <h5>{{tour.tourHeading}}</h5>
                    </a>
                    <p>Price: {{tour.price}}&#8377</p>
                    <a href="/tour/tourdetails/{{tour.tourId}}/{{tour.tourSlug}}">
                        <p>view more</p>
                    </a>
                    <!-- <button type="button" class="btn btn-info">Info</button>-->
                    <div class="rating_days d-flex justify-content-between">

                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="#">More Places</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Latest added destination ends here-->

<!--Data Sciene tours-->
<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Recommended For you</h3>
                    <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit
                        hella wolf moon beard words.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="../static/img/2.jpg">
                        <a href="#" class="prise">Special Offer</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html">
                            <h3>California</h3>
                        </a>
                        <p>United State of America</p>
                        <a href='#'>VIEW</a>
                        <div class="rating_days d-flex justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="../static/img/2.jpg">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html">
                            <h3>Korola Megna</h3>
                        </a>
                        <p>United State of America</p>
                        <a href='#'>VIEW</a>
                        <div class="rating_days d-flex justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="../static/img/2.jpg">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html">
                            <h3>London</h3>
                        </a>
                        <p>United State of America</p>
                        <a href='#'>VIEW</a>
                        <div class="rating_days d-flex justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="../static/img/2.jpg">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html">
                            <h3>Miami Beach</h3>
                        </a>
                        <p>United State of America</p>

                        <a href='#'>VIEW</a>
                        <div class="rating_days d-flex justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="../static/img/2.jpg">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html">
                            <h3>California</h3>
                        </a>
                        <p>United State of America</p>
                        <a href='#'>VIEW</a>
                        <div class="rating_days d-flex justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="../static/img/2.jpg">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html">
                            <h3>Saintmartine Iceland</h3>
                        </a>
                        <p>United State of America</p>
                        <a href='#'>VIEW</a>
                        <div class="rating_days d-flex justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="#">More Places</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Data Science tours-->


{% endblock body %}

<!--Javascript for continous advertisement-->
<script type="text/javascript">
    const $dropdown = $(".dropdown");
    const $dropdownToggle = $(".dropdown-toggle");
    const $dropdownMenu = $(".dropdown-menu");
    const showClass = "show";

    $(window).on("load resize", function () {
        if (this.matchMedia("(min-width: 768px)").matches) {
            $dropdown.hover(
                function () {
                    const $this = $(this);
                    $this.addClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                    $this.find($dropdownMenu).addClass(showClass);
                },
                function () {
                    const $this = $(this);
                    $this.removeClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                    $this.find($dropdownMenu).removeClass(showClass);
                }
            );
        } else {
            $dropdown.off("mouseenter mouseleave");
        }
    });


    jQuery(document).ready(function ($) {
        $(window).scroll(function () {
            if ($(document).scrollTop() > 150) {
                // Navigation Bar
                $('.navbar').removeClass('fadeIn');
                $('body').addClass('shrink');
                $('.navbar').addClass('animated fadeInDown');
            } else {
                $('.navbar').removeClass('fadeInDown');
                $('body').removeClass('shrink');
                $('.navbar').addClass('animated fadeIn');
            }
        });
    });
</script>
<!--Javascript for continious ad ends here-->
</body>

</html>