{% extends 'basetemplate.html' %}
{% load static %}

{% block stylesheets %}

<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
crossorigin="anonymous">
<style>
    main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
    
    #contact{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    #contact-left p {
        margin: 25px 0 20px 0;
    }
    .social-list{
        display: flex;
        list-style: none;
        margin-left: 0;
        margin-top: 20px;
        padding-inline-start: 0px; 
    }
    .social-list li{
        border: 1px solid #003164;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-left: 15px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact-right {
        padding: 25px 30px;
        width: 100%;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    #contact-right h4 {
        font-size: 24px;
    }

    #contact-right p {
        margin-bottom: 25px;
    }

    #contact-right form .form-control {
        font-family: "Open Sans", sans-serif;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 24px;
    }
    .mapbg{
        display: flex;
        justify-content: center;
    }
    .map{
        width: 100%;
        height: 400px;
        background-color: gray;
    }
    
    
    .service{
    display: flex;
    flex-flow: row!important;
    
    }
    .servicec h1, .service h4{
        color: #34363e;
    }
    .service i{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .service i:hover{
        background-color: rgba(215,223,35,1);
    }
    .service span{
    margin-left: 20px;
    text-align: center;
    width: 250px;
    }
    .servicec h1{
    text-decoration: underline;
    }
    #contact1{
        width: 100%;
        /* background-color: #005051; */
        
        background-image: linear-gradient(to bottom,#051322,#15457c);
    }
    #contact1 .container{
        color: white;
        display: flex;
        justify-content: space-around;
    }
    #contact1 .container div{
        padding-top: 15px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
    }
    .cicon{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
        font-size: 30px;
        justify-content:center;
    }
    .cicon:hover{
        background-color: rgba(215,223,35,1);
    }
    .fa-map-marker, .fa-phone{
        font-size: 35px;
    }
    #contact-left h1{
        color: #003164;
        font-size: 50px;
        margin-bottom: 30px;
    }
    #contact-left p{
        color: #000;
    }
    #contact-left p{
        margin: 0;
    }
    /*
        .parentc{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        }
        .col-md-6{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        #parent img{
        width: 200px;
        }
        .parentc div{
        display: flex;
        text-align: center;
        flex-flow: column;
        }
        .pc{
        width: 100%;
        font-size: 50px;
        text-align: center;
        }
        #parent{
            width: 100%;
        }
        .parentc{
            
            background-color: #34363e;
            width: 100%;
            margin: 0;
        }
        .servicec{
            background-color: #159eee;
            color: white;
            margin: 0;
        }
        .pc{
            background-color: #fff;
            padding-bottom: 15px;
        }
        .parentc .col-md-6{
            height: 500px;
            display: flex;
            align-items: center;
        } 
    */
    .mainfooter{
        margin-top: 0;
    }
    @media screen and (max-width: 800px) {
        #contact1 .container{
            flex-flow: column;
        }
    }
</style>
{% endblock stylesheets %}


{% block body %}
    <main>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="contact-left">
                            <h1>Get<br>In <strong>Touch</strong></h1>
                            <p>
                                The best thing of our company is that we are always there for a customer.
                            </p>
                            <p>We are available 24*7 hours.</p>
                            <p>Feel free to leave a message.</p>

                            <ul class="social-list">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div id="contact-right">
                            <div class="mapbg">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58912.12536689048!2d88.39023458392364!3d22.65349647735482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89e5c0362082b%3A0x70ee0465893e25d6!2sNorth%20Dumdum%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1601234990808!5m2!1sen!2sin" 
                                width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact1">
            <div class="container">
                <div>
                    <div class="cicon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <h1>Email Address</h1>
                    <p>abc@gmail.com</p>
                    <p>abc@gmail.com</p>
                </div>
                <div>
                    <div class="cicon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <h1>Address</h1>
                    <p>DumDum</p>
                    <p>Kolkata, India</p>
                    <p>700160</p>
                </div>
                <div>
                    <div class="cicon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <h1>Phone Number</h1>
                    <p>+91 72786 60111</p>
                    <p>+91 72786 60111</p>
                </div>
            </div>
        </section>
    </main>

{% endblock body %}

