{% extends 'basetemplate.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<link rel="stylesheet" href="{% static 'homeapp_css/benefit.css'%}">

{% endblock stylesheets %}

{% block body %}
<!-- Benifits of joining us -->
<main>
<h1 class="heading">Reason to chose us...</h1>
<div class="col-md-12">
    <h2>1. Our <strong>Customers</strong> Love Us</h2>
</div>
<section id="testimonials">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 wow slideInLeft">

                <div class="vertical-heading">
                    <h5>We Are</h5>
                    <h2>What Our <br><strong>Customers</strong> Say</h2>
                </div>

            </div>

            <div class="col-md-8 review" data-wow-duration="2s">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h1>Quality Support</h1><br>
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{%static 'homeapp_css/tc.png'%}" alt="">
                                </div>
                                <div class="col-md-9">
                                    <h6>Alex Farguson</h6>
                                    <p>Manager, xyz</p>
                                    <p>Lorem ipsum dolor sit amet con nesciunt qui veniam ullam provident quasi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h1>Good Work</h1><br>
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{%static 'homeapp_css/tc.png'%}" alt="">
                                </div>
                                <div class="col-md-9">
                                    <h6>Alex Farguson</h6>
                                    <p>Manager, xyz</p>
                                    <p>Lorem ipsum dolor sit amet con nesciunt qui veniam ullam provident quasi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h1>Imprassive</h1><br>
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{%static 'homeapp_css/tc.png'%}" alt="">
                                </div>
                                <div class="col-md-9">
                                    
                                    <h6>Alex Farguson</h6>
                                    <p>Manager, xyz</p>
                                    <p>Lorem ipsum dolor sit amet con nesciunt qui veniam ullam provident quasi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <h1>Better Growth</h1><br>
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{%static 'homeapp_css/tc.png'%}" alt="">
                                </div>
                                <div class="col-md-9">
                                    <h6>Alex Farguson</h6>
                                    <p>Manager, xyz</p>
                                    <p>Lorem ipsum dolor sit amet con nesciunt qui veniam ullam provident quasi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                        <!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                     -->
                    <div class="arrow">
                        <i class="fa fa-arrow-circle-left pb" aria-hidden="true"></i>
                        <i class="fa fa-arrow-circle-right ab" aria-hidden="true"></i>
                        <!-- <button class="pb">h</button>
                        <button class="ab">hello</button> -->
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<br>

<section id="stats">

    <div class="content-box-md">

        <div class="container">

            <div class="row">
                
                <div class="col-md-12 wow slideInLeft">

                    <div class="vertical-heading">
                        <h2><br>2. Getting best services <br>at <strong>Minimal </strong>cost! <br>ain't it great?</h2>
                    </div>

                </div>

            </div>

            <div class="row wow fadeInUp" data-wow-duration="2s">

                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 01 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-bar-chart"></i>
                        <h3 class="counter1">230</h3><h3>$</h3>
                        <h6>Free Account Creation</h6>
                        <p>Here create your free account, and get growing your business</p>
                    </div><br>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 02 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-codepen"></i>
                        <h3 class="counter2">330</h3><h3>$</h3>
                        <h6>0 maintain cost</h6>
                        <p>You don't need to worry about maintaining, we will do it for absolutely free</p>
                    </div><br>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">

                    <!-- Stats Item 03 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-trophy"></i>
                        <h3 class="counter3">500</h3><h3>$</h3>
                        <h6>Free stuff training</h6>
                        <p>As a bonus you get free stuff training</p>
                    </div><br>

                </div>
            

            </div>

        </div>

    </div>

</section>

<br>

<section id="pricing">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-12 text-center wow slideInDown">
                    <div class="horizontal-heading">
                        <h2>3. Pay only when you <strong>Get</strong> customer!!!!</h2>
                        <h3>Our Pricing</h3>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4 wow fadeInLeft">

                    <!-- Pricing Table 01 -->
                    <div class="pricing-table">
                        <div class="type">
                            <h4>Basic</h4>
                        </div>

                        <div class="price">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <h2><span class="dollar">&#36;</span>29<br><span class="month">Month</span></h2>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p>You will get all these awesome services with this great price. Get it now!</p>
                                </div>

                            </div>

                        </div>
                        <ul class="package">
                            <li><i class="fa fa-check"></i>Full access</li>
                            <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                            <li><i class="fa fa-check"></i>Powerful Admin Panel</li>
                            <li><i class="fa fa-check"></i>Email Accounts</li>
                            <li><i class="fa fa-check"></i>10 Free Web sites</li>
                        </ul>

                        <div id="pricing-btn-01">
                            <a class="btn btn-general btn-yellow" href="#" title="Get Started" role="button">Get Started</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="3s">

                    <!-- Pricing Table 02 -->
                    <div class="pricing-table black">
                        <div class="type">
                            <h4>Unlimited</h4>
                        </div>

                        <div class="price">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <h2><span class="dollar">&#36;</span>57<br><span class="month">Month</span></h2>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p>You will get all these awesome services with this great price. Get it now!</p>
                                </div>

                            </div>

                        </div>
                        <ul class="package">
                            <li><i class="fa fa-check"></i>Full access</li>
                            <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                            <li><i class="fa fa-check"></i>Powerful Admin Panel</li>
                            <li><i class="fa fa-check"></i>Email Accounts</li>
                            <li><i class="fa fa-check"></i>10 Free Web sites</li>
                        </ul>

                        <div id="pricing-btn-02">
                            <a class="btn btn-general btn-white" href="#" title="Get Started" role="button">Get Started</a>
                        </div>

                    </div>

                </div>
                <div class="col-md-4 col-sm-4 wow fadeInRight">

                    <!-- Pricing Table 03 -->
                    <div class="pricing-table">
                        <div class="type">
                            <h4>Professional</h4>
                        </div>

                        <div class="price">

                            <div class="row">

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <h2><span class="dollar">&#36;</span>96<br><span class="month">Month</span></h2>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <p>You will get all these awesome services with this great price. Get it now!</p>
                                </div>

                            </div>

                        </div>
                        <ul class="package">
                            <li><i class="fa fa-check"></i>Full access</li>
                            <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                            <li><i class="fa fa-check"></i>Powerful Admin Panel</li>
                            <li><i class="fa fa-check"></i>Email Accounts</li>
                            <li><i class="fa fa-check"></i>10 Free Web sites</li>
                        </ul>

                        <div id="pricing-btn-03">
                            <a class="btn btn-general btn-yellow" href="#" title="Get Started" role="button">Get Started</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<br>

<section class="online">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>4. Great Way to Put Your Bussiness Online</h2><br>
            </div>
            <div class="col-md-6 onlinel">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-coffee" aria-hidden="true"></i></div>
                    <div class="col-md-10">
                        <h2>Online Presence</h2>
                        <p>In today's era it's a nessecity to have online presence of a business,
                            Put your businesss online with us and grow!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 onliner">
                <div class="row">
                    <div class="col-md-2"><i class="fa fa-wpexplorer" aria-hidden="true"></i></div>
                    <div class="col-md-10">
                        <h2>Rechebility</h2>
                        <p>Get global rechebility with maximum benefit and minimal cost</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous">
</script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
$(function(){
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        effect:'fade',
        loop:true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.ab',
            prevEl: '.pb',
        },
    });

    let x=230;
    let y=500;
    let z=330;
    $(window).scroll(function(){         
        var h=$(window).scrollTop();
        var th=$('#testimonials').height();
        console.log(h,th);
        if(h>th/2 && x>229){
            fun1();
    }
    })
    function fun1(){
        const counter1=document.querySelector('.counter1');
        const counter2=document.querySelector('.counter2');
        const counter3=document.querySelector('.counter3');
        setInterval(update3,27);
        setInterval(update2,42);
        setInterval(update1,50);
        function update1(){
            counter1.innerHTML=x;
            if(x>0){
                x--;
            }
        }
        function update2(){
            counter2.innerHTML=x;
            if(z>0){
                z--;
            }
        }
        function update3(){
            counter3.innerHTML=y;
            if(y>0){
                y--;
            }
        }
    }
})

</script>

{% endblock body %}